@import "partials/login";
@import "partials/pagination";
@import "partials/dashboard";
@import "partials/material";
@import "partials/select2";

html, body {
    height: 100%;
    background-color: rgb(243, 243, 243);
}
input:focus, textarea:focus, select:focus {
    outline: none;
}

.breadcrumbs {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.87);
    & a {
        color: rgba(0,0,0,.87) !important;
        text-decoration: none;
    }
    & i {
        color: rgba(0,0,0,.87) !important;
        font-size: 19px;
        margin: 0px 5px;
    }
}

.perm_error {
    text-align: center;
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h4 {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    & p {
        font-size: 18px;
    }
}

.content_center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-x: auto;
}
@media (max-width: 1200px) {
    .content_center {
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block !important;
    }
}

table th, table td {
    text-align: left !important;
    padding: 5px 30px !important;
}

.nav_between {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

#table-delete {
    &_btn {
        display: none;
        margin-top: 7px;
        position: fixed;
        right: 50px;
        bottom: 50px;
    }
}

.form_main {
    background-color: white;
    padding: 50px;

    & .mdl-textfield {
        display: block;
    }

    & button {
        float:right;
        margin-top: 10px;
    }
}

.error_message {
    background-color:#d32f2f;
    color:white;
    width:100%;
    padding:10px 15px;
    box-sizing:border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    & i {
        margin-right: 10px;
    }
}

#table-loading_init {
    margin-top: 100px;
}