.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 12px 40px;
}

.mdl-data-table {
    min-width: 900px;
}

#form-loading, #table-loading {
    position: absolute;
    top: 40vh;
    left: 40vw;
}

.mdl-navigation__link:hover {
    text-decoration: none;
}